[Unit]
Description=Helpful Reminding service

[Service]
Environment=ACTION=notify-send %s &
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/<user>/Xauthority"
ExecStart=/usr/local/bin/remind -z -k'${ACTION}' /home/<user>/.reminders
Restart=always
RestartSec=3
